<h1> <%=t('.test') %> <%= @test.title %></h1>
<% @test.questions.each do |question| %>
<ul>
    <li><%= link_to question.body, admin_question_path(question) %></li>
</ul>

<% end %>
  
<p><%= link_to t('.add'),  new_admin_test_question_path(@test) %></p>
<p><%= link_to t('.back'), new_admin_test_path %></p>
