<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%=render 'layouts/shared/flash' %>

  <% if user_signed_in? %>
    Приветствуем, <%= current_user.name %> Guru | <%= link_to 'Log out', destroy_user_session_path, method: :delete %></p>
  <% else %>
    <p class="nav user"><%= link_to 'Login', new_user_session_path %> | <%= link_to 'Signup', new_user_registration_path %></p>
  <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>

  </body>
</html>
